.contactHeaderInfo{
    position: relative;
    top: 150px;
    margin-left: 5rem;
    .titleContact{
        font-size: 40px;
        font-weight: 900;
        font-family: Arial;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    #rectangle{
        width: 240px;
        height: 18px;
        background-color: #F9DF4F;
        margin-left: 55px;
        z-index: -1;
        position: relative;
        bottom: 10px;
    }
}

.contactInfoContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 150px;
  margin-left: 6rem;
  margin-top: 1rem;
  .contactPicture{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    right: -20%;
    bottom: 7rem;
    }
  .contactInfoList{
        display: flex;
        flex-direction: column;
        li{
            text-decoration: none;
            color: black;
            font-size: 15;
            font-weight: 900;
            font-family: Arial;
            padding: 3px;
        }
    }
}
